
h1 {
  color: green;
}
h2 {
  font-size: 3em;
}
/* Header */
.row {
text-align: center;
vertical-align: middle;
}
/* jumbotron */
.jumbotron {
  padding: 8em 0 8em 0;
}
#jesse-title, #profile-pic-description {
  text-align: center;
}
#jesse-title {
  margin-top: 9em;
}
#profile-pic-description {
  margin-top: 4.5em;
}
#profile-pic-description h2 {
  margin-top: 1em;
}
/* Section Break */
.section-break-text {
  text-align: center;
}
/* Categories */

.categories .container {
  margin-bottom: 2em;
}
.categories .container .col-md-6 {
  padding: .5em 2em .5em 2em;
  margin: .5em .0em .5em .0em;
  align-items: center;
}

.categories .container #category {
background-color: white;
display: flex;
flex-direction: column;
padding:1em 2em 1em 2em;
}

.categories .container h3 {
  background-color: green;
  padding: 4em 7em 4em 7em;
  border-radius: .5em;
}

/* Footer */
#social {
  background-color: lightblue;
  margin-top:2em;
  padding: 5em 0 5em 0;
}
