
h1 {
  color: green;
}
h2 {
  font-size: 3em;
}
/* Header */
.row {
text-align: center;
vertical-align: middle;
}
.btn {
  background-color: green;
}
/* jumbotron */
.jumbotron {
  padding: 4em 0 4em 0;
  background-image:url("C:/Code Academy/my-website/homepage/resources/images/jott-hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;

}
#jesse-title, #profile-pic-description {
  text-align: center;
}
#jesse-title {
  margin-top: 9em;
}
#profile-pic-description {
  margin-top: 4.5em;
}
#profile-pic-description h2 {
  margin-top: 1em;
}
#profile-pic-description, h1 p {
  color: white;
}
/* Section Break */
.section-break-text {
  text-align: center;
}
/* Introduction */
.homepage-intro {

  margin: 0em 8em 0em 12em;
}
.introduction {
  display: flex;
}
.homepage-intro p {
  font-size: 1.25em;
  font-weight: bold;
}
.right-column {
  flex-direction: column;
  margin-left: 20em;
}
.intro-pic img {
  width: 75%;
  height: 40%;
  border-radius: 1.25em;
}
/* Categories */
.categories {
  margin: 2em 0 2em 0;
}

.categories .container .col-md-6 {
  padding: .5em 2em .5em 2em;
  margin: .5em .0em .5em .0em;
  align-items: center;
}

.categories .container #category {
background-color: white;
display: flex;
flex-direction: column;
padding:1em 2em 1em 2em;
}

.categories .container h3 {
  background-color: green;
  padding: 4em 7em 4em 7em;
  border-radius: .9em;
  color: white;
}
#skills-education h3{
  background-image:url("C:/Code Academy/my-website/homepage/resources/images/toronto-sign.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer */
#social {
  background-color: lightblue;
  margin-top:2em;
  padding: 1em 15em 1em 15em;
}
.col-lg-6 img {
  height: 10em;
  width: 10em;

}
